<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               debug="false">

  <appender name="STDERR"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level [%thread] %logger{128}: %msg%n</pattern>
    </encoder>
    <target>System.err</target>
  </appender>

  <logger name="io.netty"
          level="ERROR"/>

  <logger name="org.pircbotx.InputParser"
          level="ERROR"/>

  <logger name="org.pircbotx.hooks.managers.ThreadedListenerManager"
          level="ERROR"/>

  <root level="DEBUG">
    <appender-ref ref="STDERR"/>
  </root>

</configuration>
